{% extends 'base_layout.html' %}
{% block title %} 
  {{super()}} - 首页
{% endblock %}

{% block header %}
  <link rel="stylesheet" href="./assets/style/index.css"> 
{% endblock %}


{% block content %}
  <div class="layout-main">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <!-- 消息通知区域 -->
          <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">×</span></button>
            <strong>你好，张三!</strong> 欢迎登陆在线问答系统
          </div>
          <!-- // 消息通知区域 -->
          <!-- banner图 -->
          <div id="id-index-banner" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img class="img-responsive" src="./assets/home/banner/banner1.jpg" alt="banner图">
              </div>
              <div class="item">
                <img class="img-responsive" src="./assets/home/banner/banner1.jpg" alt="banner图">
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#id-index-banner" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#id-index-banner" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <!-- //banner图 -->
          <!-- 分类菜单 -->
          <div class="cls-menu-ls">
            <a href="{{ url_for('qa.index') }}" class="active">推荐</a>
            <a href="{{ url_for('qa.follow') }}">关注</a>
            <a href="#">热榜</a>
          </div>
          <!-- //分类菜单 -->
          <!-- 问题列表 -->
          {% for question in page_data.items %}
          <div class="qa-ls">
            <div class="qa-item">
              <a href="{{ url_for('qa.detail', q_id=question.id) }}" class="title">{{ question.title }}</a>
              <div class="desc">
                {% if question.img %}
                <div class="left">
                  <img src="{{ question.img }}" alt="" srcset="">
                </div>
                {% endif %}
                <div class="right">
                  <div class="show-desc">{{ question.desc|d('暂无描述', True) }}...
                    <span class="more">阅读原文<i class="glyphicon glyphicon-menu-down"></i></span>
                  </div>
                  <div class="show-all hidden">
                    {% autoescape false %}
                    {{ question.content|safe }}
                    {% endautoescape %}
                    <span class="more">收起<i class="glyphicon glyphicon-menu-up"></i></span>
                  </div>
                </div>
              </div>
              <div class="qa-footer">
                <div><button type="button" class="btn btn-info btn-sm">
                    <i class="glyphicon glyphicon-thumbs-up"></i> 赞同 1780</button>
                  <button type="button" class="btn btn-info btn-sm"><i
                      class="glyphicon glyphicon-thumbs-down"></i></button>
                </div>
                <div class="txt-menu"><i class="glyphicon glyphicon-comment"></i> 113条评论</div>
                <div class="txt-menu"><i class="glyphicon glyphicon-send"></i>分享</div>
                <div class="txt-menu"><i class="glyphicon glyphicon-heart"></i>收藏</div>
                <div class="txt-menu"><i class="glyphicon glyphicon-flag"></i>举报</div>
                <div class="txt-menu btn-group">
                  <i class="glyphicon glyphicon-option-horizontal dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"></i>
                  <ul class="dropdown-menu">
                    <li><a href="#">不感兴趣</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% include 'components/menu.html' %}
      </div>
    </div>
    <!-- // container -->
  </div>
{% endblock %}  

{% block js_inline %}
      // 点击，查看更多，把详细的那个p标签展示出来，把自己隐藏
      $('.show-desc').click(function () {
        $(this).addClass('hidden');
        $(this).next().removeClass('hidden')
      })
      $('.show-all').click(function () {
        $(this).addClass('hidden');
        $(this).prev().removeClass('hidden')
      })
{% endblock %}

